@import "tailwindcss";

@layer components {
  .primary-button {
    @apply bg-blue-600 text-white px-4 py-2 text-sm rounded-lg font-bold hover:bg-blue-700 transition-colors shadow-lg cursor-pointer inline-block;
    @apply md:px-6 md:py-3 md:text-base;
  }
}


